#inicio-splash-screen{
	text-align:center;
}
#inicio-splash-screen .loading{
	margin-right:1em;
}
#inicio-splash-screen .splash-logo{
	margin-top:6em;
}
#inicio-splash-screen .splash-parrafo{
	margin-top:2em;
}
#inicio-contenedor{
	display:none;
}